/* Nav Bar */
.nav-container {
    display: flex;
}
.nav-container a {
    width: 100px;
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    font-family: Arial;
    font-weight: 600;
    color: black;
    text-align: center;
  } 
  .nav-container a:hover {
    background:red;
    border-radius: 10px;
    transition: 0.5s;
    text-transform: uppercase;
  }
.nav-container li {
    list-style: none;
}
/* Nav bar ends */

/* index.html */
#container {
    background-color: teal;
}
.shapes-container {
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    border-radius: 8px;
    background-color: bisque;
    justify-content: space-between;
}
.circle-container {
    display: inline-flex;
    flex-direction: row-reverse; 
}
.square-container {
    display: flex;
    align-self: flex-end;
}
.triangle-container {
    display: flex;
    align-self: flex-end;
}
.circle-container .circle {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: lightblue;

}
.square-container .square {
    height: 6.25em;
    width: 6.25em;
    background-color: red;
}
.triangle-container .triangle {
    height: 0;
    width: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 150px solid green;
}

.oneT {
    border-left: 150px solid transparent !important;
    border-right: 150px solid transparent !important;
    border-bottom: 300px solid blue !important;
    z-index: 2;

}
/* Index.html ends */

/*Form Submission Page */
#form-page {
    background-color: greenyellow;
} 
.header-cointainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 800px;
    
}
.header-cointainer > h1 {
    font-size: 56px;
}
/* Form submission page ends */

/* Form */
.form-cointainer {
    border: 2px solid black;
    display: inline-block;
    background-color: brown;
}
.form-cointainer label {
    font-weight: 600;
    font-family: sans-serif;
    font-size: 18px;
    color: khaki;
}
/* Form */